</html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Active Duty</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-static/">

	{% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Style CSS -->
    <style>
      body {
        min-height: 60rem;
    	}

      .completion{
        display: none
      }

      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Top navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1 class="display-3">Active CountDown</h1>
        <p class="lead timer-display">Hi</p>
      </div>
      
      <!-- Active Task 1 -->
      <div id="task-active-7558" class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Task: Act of Conscent</h6>
        <small class="text-left mt-3">
          Status: Pending
        </small>
        <div class="card text-center collapse show" style="border:none">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-outline-primary submitTaskBtn" href="">I Agree</a>
              <a href="" class="btn btn-outline-secondary">Read Policy</a>
          </div>
        </div>
          <small class="d-block text-right mt-3">
              <a href="" class="collapseBtn">Collapse >></a>
          </small>
      </div>

      <!-- Complete Task 1 -->
      <div id="task-completed-7558" class="completion my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Task: Act of Conscent</h6>
        <small class="text-left mt-3 text-success">
          Status: Completed
        </small>
        <div class="card text-center collapse show" style="border:none">
          <div class="card-body">
            <h5 class="card-title">Task completed</h5>
            <p class="card-text">This section has been completed by user <i class="far fa-check-circle text-success"></i></p>
          </div>
        </div>
          <small class="d-block text-right mt-3">
          <a href="" class="collapseBtn">Collapse >></a>
        </small>
      </div>

      <!-- Active Task 2 -->
      <div id="task-active-7560" class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Task: Duty Report</h6>
        <small class="text-left mt-3">
          Status: Pending
          <br><br>
        </small>
        <div class="card collapse show" style="border:none">
          <form>
            <div class="form-group row">
            <div class="col-sm-3">I have ensured the following:</div>
              <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Sign in and out my attendance
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Be present in i-Hub during the tour of duty
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Shut down PC properly after closing (11:00 pm)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Ensure all keyboards , mouse, and chairs all orderly arranged before closure
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Record left items found in record book
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Report any happening that needs the attention of staff <br> (Thomas: 96797237)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Switch off all lightings before leaving; Ensure the two doors are electronically secured
                </label>
              </div>
            </div>
            </div><br>
            <div class="form-group row">
              <div class="text-center col-sm-11">
              <button type="submit" class="btn btn-outline-primary submitTaskBtn">I acknowledge</button>
              </div>
            </div>
          </form>
        </div>
          <small class="d-block text-right mt-3">
          <a href="" class="collapseBtn">Collapse >></a>
        </small>
      </div>

      <!-- Complete Task 2 -->
      <div id="task-completed-7560" class="completion my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Tasks: Duty Report</h6>
        <small class="text-left mt-3 text-success">
          Status: Completed
        </small>
        <div class="card text-center collapse show" style="border:none">
          <div class="card-body">
            <h5 class="card-title">Task completed</h5>
            <p class="card-text">This section has been completed by user <i class="far fa-check-circle text-success"></i></p>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a class="collapseBtn" href="">Collapse >></a>
        </small>
      </div>
    </main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/internal/clock.js' %}"></script>
<script src="{% static 'js/internal/cards.js' %}"></script>
<!-- AJAX Request -->
<script>

function getDuty(){
  $.ajax({
    type: "GET",
    contentType: 'application/json',
    url: "{% url 'duties:duty-details' %}",
    dataType: 'json',
    success: function(data){
      console.log(data)
      const serverNow = data.now;
      const duty_end = data.payload[0].duty_end;
      dutyClock(serverNow, duty_end);
    },
    error: function(xhr, status, error){
      var errorMessage = xhr.status + ': ' + xhr.statusText
      // log error
      console.log("matric", matric_val);
      console.log(errorMessage);
    }
  });
}

getDuty();
</script>

<!-- Task Card Elements -->
<script>
const task1 = {active: "#task-active-7558", completed:"#task-completed-7558"};
const task2 = {active: "#task-active-7560", completed:"#task-completed-7560"};
handleTaskCardsDisplay([task1, task2]);
</script>

</body>
</html>
